.hover-card {
	@apply w-96 bg-darkblue border-gray-600 border-[1px] text-lg font-medium p-2 rounded-md;
	transform-origin: var(--radix-hover-card-content-transform-origin);
	animation: scaleIn 0.1s linear;

	@keyframes scaleIn {
		from {
			opacity: 0;
			transform: scale(0);
		}
		to {
			opacity: 1;
			transform: scale(1);
		}
	}

	&.dark {
		@apply bg-whiteslate text-darkblue;
	}
}
